* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    overflow-x: none;
    

}

nav {
    width: 100%;
}
.navList {
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    /* margin-left: 15px;
    margin-right: 15px; */
    width: 100%;
    overflow-x: none;
    padding: 15px;
}

.navContainer {
    width: 100vw;
    background-color: rgb(136, 130, 144);
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#navLogo {
    font-size: 2.8rem;
    color: white;
}

a {
    text-decoration: none;
}

.itemsFlex {
    display: flex;
    gap: 40px;
}


