* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    overflow-x: none;
    background-image: -webkit-linear-gradient(0deg, #FFDEE9 0%, #f1fcfb 100%);
}

nav {
    width: 100%;
}
.navList {
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    /* margin-left: 15px;
    margin-right: 15px; */
    width: 100%;
    overflow-x: none;
    padding: 15px;
}

.navContainer {
    width: 100vpx;
    /* background-color: rgb(136, 130, 144); */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#navLogo {
    font-size: 2.8rem;
    color: white;
}

a {
    text-decoration: none;
    color: azure;
}

.itemsFlex {
    display: flex;
    gap: 40px;
}

.contentBox {
    /* and margin auto tb e work kryga jb m width 100 sy km rkhogi tu ye oss lehaz sy kryga... */
    width: 70%;
    border: 1px solid black;
    /* display flex sy b center krskti o align-items krk  */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* ya yhi kam m sirf margin ko auto krk b krskti o os sy b ye center m o jyega */
    margin: auto;
    background-color: white;
    


}

footer {
    width: 100%;
}

.footerBox {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    min-height: 40px;
}

.footerBox p {
    color: azure;
    font-size: 2rem;
}
