* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;

    
}

.container {
    height: 100vh;
    padding: 2rem 1rem;
    margin: 0 auto;
    background-color: rgb(243, 252, 252);
    width: 80vw;

}

a {
    text-decoration: none;
}

.headercontainer {
    margin-bottom: 2rem;
}

.header_title {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.headerdesc {
    text-align: center;
    max-width: 568px;
    margin: 0 auto;
    color: rgb(90, 87, 87);    
}

.main_container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
}

.card-container {
    display: flex;
    flex-direction: column;
    border: 0.1px solid rgb(230, 220, 220);
    border-radius: 8px;
    overflow: hidden;
    
}

.card-image-container {
    position: relative;
    overflow: hidden;
    height: 6rem;
}

@media(min-width:780px) {
    /* For screens larger than 660px */
    .card-image-container {
    height: 8em;

   }
}

.card-image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-titlecontainer {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card-container:hover .card-image {
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
    line-height: 1.5rem;
    color: rgb(36, 34, 34);
}

.card-title-anchor:hover .card-title {
    color: rgb(60, 29, 199);
}

.carddesc {
    font-size: 1rem;
    /* margin-bottom: 0.5rem; */
    color: rgb(118, 115, 115);
}

.card-footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    align-items: flex-end;
}

.author-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.author_avatar_container  {
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(199, 190, 190);
    border-radius: 50%;
    background-color: rgb(236, 229, 229);
}

.author_name {
    color: rgb(32, 32, 183);
}

.author_date {
    color: gray;
}

.card-tagcontainer {
    font-size: 0.79rem;
    border: 1px solid rgb(90, 86, 86);
    line-height: 1.3rem;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;

}

@media(min-width:568px) {
    /* For screens larger than 660px */
   .main_container {
    grid-template-columns: repeat(2, 1fr);

   }
}

@media(min-width:935px) {
    /* For screens larger than 660px */
   .main_container {
    grid-template-columns: repeat(3, 1fr);

   }
}

@media(min-width:1380px) {
    /* For screens larger than 660px */
   .main_container {
    grid-template-columns: repeat(3, 1fr);

   }
}

@media(min-width:1350px) {
    /* For screens larger than 660px */
   .main_container {
    grid-template-columns: repeat(4, 1fr);

   }
}